// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "views/contact-index";
@import "views/contact-details";
@import "views/homepage";
@import "views/chart";
@import "views/user-profile";
@import "views/contact-edit";
@import "views/signup";

// Components
@import "cmps/contact-preview";
@import "cmps/contact-list";
@import "cmps/contact-filter";
@import "cmps/transfer-funds";
@import "cmps/move-list";




.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .app-header {
   
        color: rgba(0, 0, 0, 0.793);
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}
