.contact-details {
    padding: 10px 20px 20px 20px;
    max-width: 400px;
    border-radius: 8px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  border: 1px solid  #f7951e;
  text-align: center;
  img {
    height: 150px;
    width: 150px;
    margin: auto;
  }
  button {
    margin: auto;
    height: 30px;
    width: 80px;
  }
}

.contact-details-container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.filter-add-contact{
  a{
    &:hover{
      text-decoration: none;
    }
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
    border-bottom: 1px solid #f7951e;
    margin-bottom: 20px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

