.sign-up{
    width: 37%;
    margin: 90px auto;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: 1px solid orange;
    height: 400px;
    h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    form{
        label{
            font-size: 18px;
        }
input{
    margin-left: 5px;
    height: 30px;
}
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}