.user-profile{
    .user-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid orange;
        text-align: center;
    }
   
    img{
        width: 20px;
        height: 20px;
    }
    h2{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    h1{
        font-size: 45px;
    }

   
    width: 50%;
    margin: 90px auto;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}
.my-profile{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}